[core]
	editor = vim
	pager = less

[alias]
	hist = log --graph --oneline --decorate
	st = status

[user]
	email = degustaf@gmail.com
	name = Derek Gustafson
	signinkey = E85CFEA4598B13B6

[push]
	default = simple

[credential]
	helper = store

[commit]
	gpgsign = true

[init]
	defaultBranch = main
