*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.swp

# Exercism stores a secret token, so we won't publish that.
.config/exercism
